.MainContainer {
}

.ScoreText {
    font-size: 95px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
}

.Text {
    font-size: 95px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    align-self: center;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: auto;
    -unity-text-align: upper-left;
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-text-outline-width: 2px;
}
